.messageContainer{
    margin: 0 0 0 auto;
    width: 14rem;
    .message{
        background-color: #fff;
        font-size: 1rem;
        border-radius: 1rem;
        border-bottom-left-radius: 0;
        width: fit-content;
        padding: 0.8rem 0.8rem;
        margin: 1rem 0;
        line-height: 1.2rem;
        font-weight: 300;
        ul li{
            margin-right: auto;
        }
    }
}
.avatar {
    img{
        width: 65%;
        height: auto;
    }

}


@media (max-height: 650px) {
	.avatar img{
		width: 50%;
        padding: 0 0 0 2rem;
	}
}

@media (max-height: 600px) {
	.avatar img{
		width: 40%;
        padding: 0 0 0 3rem;
	}
}