
.messageContainer{
    margin: 0 0 0 10rem;
    width: 14rem;
    .message{
        background-color: #fff;
        font-size: 1rem;
        border-radius: 1rem;
        border-bottom-left-radius: 0;
        width: fit-content;
        padding: 0.8rem 0.8rem;
        margin-top: 1rem;
        line-height: 1.2rem;
        font-weight: 300;
        transition: transform 0.3s ease-out; 
        ul li{
            margin-right: auto;
        }
    }
}
.avatar {
    img{
        width: 65%;
        height: auto;
    }

}
