$white: #FDFDFD;
$black: #000000;
$gray: #E8E8E8;
$gray-navy: #93A0BB;
$navy: #203562;


.container {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;
    padding: 0rem 1rem;
    margin: 0 auto;
    z-index: 1;
    background-color: $gray;
    max-width: 1200px;
    .navContainer {
        margin-top: 0rem;
    }
    .mainContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contactContainer {
        margin-bottom: 1rem;
        width: 100%;
    }
}





