$white: #FDFDFD;
$black: #000000;
$gray: #E8E8E8;
$gray-navy: #93A0BB;
$navy: #203562;

@keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
    
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-50%);
    }
    50% {
      transform: translateX(50%) translateY(50%);
    }
    100% {
      transform: translateX(-50%) translateY(-50%);
    }
  }
  
.container {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;
    padding: 0rem 1rem;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
    
    .navContainer {
        margin-top: 0rem;
    }
    .mainContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .contactContainer {
        margin-bottom: 1rem;
        width: 100%;
        z-index: 10;
        max-width: 1200px;
    }

    svg {
        display: none;
    }
    .gradientsContainer {
        filter: url(#goo) blur(30px);
        width: 100dvw;
        height: 100dvh;
        overflow: hidden;
        position: absolute;
        .g1 {
        
            position: absolute;
            background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
            mix-blend-mode: var(--blending);
        
            width: var(--circle-size);
            height: var(--circle-size);
            top: calc(50% - var(--circle-size) / 2);
            left: calc(50% - var(--circle-size) / 2);
        
            transform-origin: center center;
            animation: moveVertical 30s ease infinite;
        
            opacity: 1;
        }
        .g2 {
            position: absolute;
            background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
            mix-blend-mode: var(--blending);
        
            width: var(--circle-size);
            height: var(--circle-size);
            top: calc(50% - var(--circle-size) / 2);
            left: calc(50% - var(--circle-size) / 2);
            transform-origin: calc(50% - 400px);
            animation: moveInCircle 20s reverse infinite;
            opacity: 1;
        }
        .g3 {
            position: absolute;
            background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
            mix-blend-mode: var(--blending);
            width: var(--circle-size);
            height: var(--circle-size);
            top: calc(50% - var(--circle-size) / 2 + 200px);
            left: calc(50% - var(--circle-size) / 2 - 500px);
        
            transform-origin: calc(50% + 400px);
            animation: moveInCircle 40s linear infinite;
            opacity: 1;
        }
        .g4 {
            position: absolute;
            background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
            mix-blend-mode: var(--blending);
        
            width: var(--circle-size);
            height: var(--circle-size);
            top: calc(50% - var(--circle-size) / 2);
            left: calc(50% - var(--circle-size) / 2);
        
            transform-origin: calc(50% - 200px);
            animation: moveHorizontal 40s ease infinite;
        
            opacity: 1;
        }
        .interactive {
            position: absolute;
            background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
            mix-blend-mode: var(--blending);
            width: 100%;
            height: 100%;
            top: -50%;
            left: -50%;
            opacity: .7;
        }
    }
    
  }
  




