$white: #FDFDFD;
$black: #000000;
$gray: #E8E8E8;
$gray-navy: #93A0BB;
$navy: #203562;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    .logoContainer {
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
    }
    .chattingContainer {
        display: flex;
        flex-direction: column;
        width: 22rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .swipeContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
      a{
        color: $gray-navy;
        text-decoration: underline;
        font-weight: 400;
        cursor: pointer;
      }
    }
}
  